# Ignore .next folder
.next/

# Ignore node_modules folder
node_modules/

# Ignore build artifacts
/out/
/.next/
/.vercel/
/.now/

# Ignore environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore yarn.lock or package-lock.json file
yarn.lock
package-lock.json

# Ignore macOS system files
.DS_Store

# Ignore editor/IDE files
.vscode/
.idea/

# Ignore npm debugging logs
npm-debug.log*

# Ignore TypeScript build artifacts
*.tsbuildinfo
