.fullScreenContainer {
   display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%; 
  padding: 20px;
}

.innerContainer {
  flex: 1;
  height: 100%;
  width: 100%;
}

.acceptedContainer {
  display: flex;
  flex-direction: column;
  height: 24rem;
}

.defaultContainer {
  display: flex;
  flex-direction: column;
  height: 14rem;
}
