@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?r4i5kg');
  src:  url('fonts/icomoon.eot?r4i5kg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r4i5kg') format('truetype'),
    url('fonts/icomoon.woff?r4i5kg') format('woff'),
    url('fonts/icomoon.svg?r4i5kg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-playlist:before {
  content: "\e900";
}
.icon-setting:before {
  content: "\e901";
}
.icon-duty:before {
  content: "\e902";
}
.icon-dashboard:before {
  content: "\e903";
}
.icon-players:before {
  content: "\e904";
  color: #e7aa2c;
}
.icon-songs:before {
  content: "\e905";
}
